@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #0c0130;
    text-align: center;
}
h1 {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-size: 3rem;
    color: white;
    margin: 3rem;
    margin-top: 0;
}
.container {
    height: 52vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    font-family: "Playwrite AR", cursive;   
    cursor: pointer;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 .8rem #EB3678;
    font-size: 8vmin;
    background-color: #dd7646;
    color: rgb(62, 62, 62);
}
#reset {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    padding: .8rem 1rem;
    font-size: 1.20rem;
    background-color: #4F1787;
    border: none;
    border-radius: 1rem;
    margin: 2rem;
    margin-top: 3rem;
    color: white;
    cursor: pointer;
}
.winMassage {
    height: 70vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}
#msg {
    font-size: 2rem;
    color: white;
    font-family: "Playwrite AR", cursive;
}
#newGame {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    padding: .8rem 1rem;
    font-size: 1.20rem;
    font-size: 1.25rem;
    background-color: #4F1787;
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}
.hide {
    display: none;
}
footer p{
    font-family: "Poppins", sans-serif;
    color: beige;
    text-align: end;
    margin: .9rem;
    margin-top: 0;
}
footer p b{
    font-family: "Playwrite AR", cursive;
}
